In [35]:
import pandas as pd
import pickle


def pickler(to_pickle):
    to_pickle_csv = pd.read_csv(to_pickle, encoding="utf-8", sep="\t", header=None).rename({0:"name", 1:"id"}, axis=1).drop(2, axis=1).drop_duplicates().reset_index(drop=True)
    pickle.dump(to_pickle_csv, open(f"{to_pickle.split('.')[0]}.pkl", "wb"))
    print(f"Pickled {to_pickle.split('.')[0]}")
    

pickler("proteins0f.tsv")

Pickled proteins0f

In [36]:
pd.read_pickle("proteins0f.pkl")

         name      id
0          0+  Q9JMA9
1          0+  Q9UN76
2        0044  L8FL04
3        0044  L8FM21
4        0056  L8FL29
...       ...     ...
848196   FZR2  Q8L3Z8
848197   FZR2  Q9UM11
848198   FZR3  Q8LPL5
848199   FZRB  Q92765
848200  fzy-1  Q09373

[848201 rows x 2 columns]

In [ ]:
to_pickle = "filename.tsv"
to_pickle_csv = pd.read_csv(to_pickle, encoding="utf-8", sep="\t", header=None).rename({0:"name", 1:"id"}, axis=1).drop(2, axis=1).drop_duplicates().reset_index(drop=True)

In [37]:
import pandas as pd
import pickle


def pickler(to_pickle):
    to_pickle_csv = pd.read_csv(to_pickle, encoding="utf-8")#, sep="\t", header=None).rename({0:"name", 1:"id"}, axis=1)
    pickle.dump(to_pickle_csv, open(f"{to_pickle.split('.')[0]}.pkl", "wb"))
    print(f"Pickled {to_pickle.split('.')[0]}")

pickler("nodes_table_all_labelled.csv")

Pickled nodes_table_all_labelled